<?xml version="1.0"?>
<configuration>
  <location path="AddAgent.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddBank.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddBrand.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Addcommodity.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddDesignation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddLocation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddProduct.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddReturnedItems.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddRoute.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddSlab.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddTypeInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AgentBilling.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Sales" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BindSlab.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BoothPlaceOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration, Sales, Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="boothbilling.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CashierSettlement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Department.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Employeebilling.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Sales" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EmployeeInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenrateBill.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Reception" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenrateBillForBooth.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LocalBilling.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Sales" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PlaceOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Reception" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PlaceOrderEmpRoutewise.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Reception" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PlaceOrderRoutewise.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Reception" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReturnedTrays.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TrasportDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration," />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ViewDispatchOrders.aspx">
    <system.web>
      <authorization>
        <allow roles="Administration,Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>